<html>
<head>
</head>
<body>
<img src="form image.jpg" title=kerela flood donation"height="500" width="500">
<ul>
<li> <a href="#flood">About</a></li>
<li> <a href="#links">link Section </a></li>
</ul>
<br>
<br>
<br>
<p> <a name="flood">
2018 Kerala floods
IN-KL.svg
Date	July 2018 – ongoing
Location	Kerala, India
Cause	Low pressure
Heavy rain
Large discharge from dams
Landslides
Deaths	350+
Property damage	?19,500 crore (US$3 billion)[1]
Website	www.keralarescue.in

A flooded home in Kerala, India

Flood conditions in Kerala, India
In late July 2018, severe flooding affected Kerala state in India due to unusually high rainfall during the monsoon season. Kerala's worst floods in nearly a century,[2] over 350 people died within a fortnight, while at least 82,400 [3] people were rescued, mainly from [4]Chengannur, Pandanad, Aranmula, Aluva, Chalakkudi, Kuttanad and with all 14 districts of the state placed on high alert.[5][6]

Thirty-five out of the forty-two dams within the state were opened for the first time in history and all five overflow gates of the Idukki Dam were opened at the same time after a gap of 26 years.[7] Heavy rains in Wayanad and Idukki causes severe land slides and has left the hilly districts isolated.[8]
</a></p>
<br>
<br>
<br>
<br>
<br>
<li> <a name="links">https://economictimes.indiatimes.com › News › Politics and Nation
</a><p/>
</body>
</html>